body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

.App {
  max-width: 375px;
  margin: 0 auto;
}

input {
  display: block;
  max-width: 80px;
}

input[type="submit"] {
  margin: 18px;
}

.padding {
  margin: 10px;
}

.right-align {
  text-align: right;
  float: right;
  clear: both;
  margin: 2px 0;
}

table {
  width: 375px;
  border: 1px;
  margin-bottom: 10px;
}
th,
td {
  width: 25%;
  border: 1px solid black;
}

th {
  background-color: grey;
}

td {
  padding: 2px 5px;
}

tr:nth-child(2n) td {
  background-color: #dddddd;
}
